html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

table, tr, td{
    border: 1px solid;
}

table{
    width: 100vw;
    height: 100vh;
}

td{
    width: 50vw;
    height: 100vh;
}

.parent{
    width: 100Vw;
    height: 100vh;
    display: flex;
}

.lo{
    width: 50vw;
    height: 100vh;
}

.parent__enfant-1{
    background-color: #0000ff;
}

.parent__enfant-2{
    background-color: #ff0000;
}